modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
CLOUDINARY_CLOUD_NAME = "djgb0whig"
CLOUDINARY_API_KEY = "773931933673924"
CLOUDINARY_API_SECRET = "pgWU3r7vzUO1mEqi1UMgKggnc0Q"

[agent]
integrations = ["javascript_object_storage:2.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-cc7428e5-82ff-4a97-bb1e-8b113ad24d3b"
